html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: strech;
  font-size: 14px;
  padding: 30px;
  box-sizing: border-box;
  background: #1E1E1E;
  color: #ADADAD;
  font-family: Helvetica, Tahoma, Arial;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  color: white;
}


.left, .right {
  /* display: flex; */
  flex: 1
}

.left {
  /* background: red; */
}

.list {
  padding: 0;
  margin: 10px 0 40px 0;
}

.list:last-child {
  margin-bottom: 0;
}

.list .item {
  list-style: none;
  margin: 4px 0;
  padding: 0;
}

.list .item a {
  color: #007ACC;
  text-decoration: none;
}

.right {
  /* background: blue; */
}

.bash {
  background: #181818;
  border-radius: 3px;
  padding: 10px;
}